version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    container_name: price_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: price_postgres
    environment:
      POSTGRES_DB: price_aggregator
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: price_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
